<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-384">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Why wait?</span>
            <h2 class="cs-title">Reach out today!</h2>
            <p class="cs-text">
                Schedule your free consultation now and see how Peak Pressure Wash 
                can enhance your property’s curb appeal.
            </p>
            <a href="" class="cs-button-solid">Get A Quote</a>
        </div>
        <div class="cs-image-group">
            <!--Powder Image-->
            <picture class="cs-powder">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/powder.png">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/powder.png">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/CTA/powder.png" alt="powder" width="485" height="460" aria-hidden="true">
            </picture>
            <!--Bucket Image-->
            <picture class="cs-bucket">
                <source media="(max-width: 600px)" srcset="/assets/images/peak-logo-2.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/peak-logo-2.webp">
                <img loading="lazy" decoding="async" src="/assets/images/peak-logo-2.webp" alt="Peak Pressure Wash Logo" aria-hidden="true">
            </picture>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/fabric-m.png">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/fabric.png">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/CTA/fabric.png" alt="fabric" width="1920" height="660" aria-hidden="true">
    </picture>
</section>
                                