<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/index"><img src="{% getUrl "/assets/images/peak-logo.png" | resize({width: 228, height: 88}) | webp %}" height="88" width="228" alt="Peak Pressure Wash Logo" aria-hidden="true" decoding="async"></a>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">Residential</a>
                    </li>
                    <li>
                        <a href="/projects">Commercial</a>
                    </li>
                    <li>
                        <a href="/holiday">Holiday Lighting</a>
                    </li>
                    <li>
                        <a href="/reviews">About Us</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li>
                        <a href="/privacy">Privacy Policy</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">
                            {{client.address.city}}
                            {{client.address.state}}
                            {{client.address.zip}}
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{client.phoneForTel}}">
                            T:
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{client.email}}">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="https://eskerdesigns.com/" target="_blank" rel="noopener">Esker Designs</a>
        <span class="copyright">
            Copyright {% year %} - Present</span>
    </div>
</footer>
