---
title: 'About | Code Stitch Web Designs'
description: "Enhance your property's curb appeal with Peak Pressure Wash in Hernando and Senatobia, MS. We offer expert residential and commercial pressure washing and flexible cleaning schedules year-round. Contact us for a free consultation today"
preloadImg: '/assets/images/about-us-banner.webp'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/about-us-banner.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/about-us-banner.webp">
            <img aria-hidden="true" decoding="async" src="about-us-banner.webp" alt="Pressure washed residential home" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/cameron-family.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/cameron-family.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/cameron-family.webp" alt="Cameron and his family" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">Peak Pressure Wash</h2>
                <p class="cs-text">
                    At Peak Pressure Wash, we didn’t just stumble into the world of exterior cleaning—it’s something we’ve grown into with passion and dedication. After years of working in home repair, construction, and exterior projects, what started as a simple add-on service—cleaning decks, fences, and homes—has now become our main focus. Today, we’re all about making sure your property looks its best, no matter the season.                </p>
                <p class="cs-text">
                    We know that maintaining the exterior of your home or business can be a challenge, which is why we offer custom cleaning schedules—whether you need us weekly, monthly, or quarterly, during the business day or after hours, we’ll be there to keep your property looking pristine all year round.
                </p>
                <p class="cs-text">
                    But what really drives us is building long-term relationships with our clients. For us, it’s not just about the one-time job—it’s about being the team you can count on for all your pressure washing needs, time and time again. We take pride in delivering the kind of service that makes a real difference, ensuring you can always rely on Peak Pressure Wash to keep your property in top shape.
                </p>
                <a href="/quote" class="cs-button-solid">Get a Quote!</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-608">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper"><span class="cs-accent">Testimonials</span></span>
            <h2 class="cs-title">Why Choose Us?</h2>
            <span class="cs-topper"><span class="cs-accent">
                We'll let our clients speak for us.
            </span></span>
            <a href="/quote" class="cs-button-solid">Get a Quote</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/yellow-quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">We worked with</h3>
                <p class="cs-item-text">
                    Cameron to create the presentation folders for Re/Max Realty Group, he is always pleasant and it has been great partnering with CDS Construction.
                </p>
                <span class="cs-name">Envision Branding LLC</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/yellow-quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">Cameron has done</h3>
                <p class="cs-item-text">
                    two jobs for me and was on time, reasonably priced, and exceeded my expectations on the quality of work he performed.  I certainly will use him again!
                </p>
                <span class="cs-name">Clay Morton</span>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-321">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Still have questions?</span>
            <h2 class="cs-title">Reach Out Today!</h2>
            <!--Form-->
            <form class="cs-form" id="cs-form-321" name="Contact Form" method="post">
                <label class="cs-label">
                    Name
                    <input class="cs-input" required type="text" id="name-321" name="name" placeholder="Name">
                </label>
                <label class="cs-label cs-email">
                    Email
                    <input class="cs-input" required type="text" id="email-321" name="email" placeholder="Email">
                </label>
                <label class="cs-label cs-phone">
                    Phone
                    <input class="cs-input" required type="text" id="phone-321" name="phone" placeholder="Phone">
                </label>
                <label class="cs-label">
                    Message
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-321" placeholder="Write message..."></textarea>
                </label>
                <button class="cs-button-solid cs-submit" type="submit">Send Message</button>
            </form>
        </div>
        <div class="cs-right">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d149389.27878238517!2d-90.0704748687568!3d34.94511511252213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x887ff58cc7be97d9%3A0x4da4b7cfac8c32ea!2sHernando%2C%20MS!5e0!3m2!1sen!2sus!4v1728170039310!5m2!1sen!2sus"
                width="600"
                class="cs-map"
                height="450"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
            <ul class="cs-contact-group">
                <li class="cs-item">
                    <span class="cs-header">
                        <img class="cs-icon" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/phone-gold.svg" alt="icon" width="20" height="20">
                        Phone
                    </span>
                    <a href="tel:555-456 7899" class="cs-link">1 (901) 652-3925</a>
                </li>
                <li class="cs-item">
                    <span class="cs-header">
                        <img class="cs-icon" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/pin-gold.svg" alt="icon" width="20" height="20">
                        Address
                    </span>
                    <a href="" class="cs-link">Hernando, MS</a>
                </li>
                <li class="cs-item">
                    <span class="cs-header">
                        <img class="cs-icon" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/clock-gold.svg" alt="icon" width="20" height="20">
                        Our Hours
                    </span>
                    <span class="cs-link">Monday To Friday</span>
                    <span class="cs-link">9:00 AM - 5:00 PM</span>
                </li>
            </ul>
        </div>
    </div>
    <!--background image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/about-us-banner.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/about-us-banner.webp">
        <img decoding="async" src="/assets/images/about-us-banner.webp" alt="round table" width="275" height="132" aria-hidden="true">
    </picture>
</section>
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}