---
title: 'Contact | Peak Pressure Wash'
description: 'Keep your property looking its best with professional pressure washing services from Peak Pressure Wash. We offer expert exterior cleaning for homes and businesses across the Mid-South. Contact us today for a free quote!'
ogImage: '/assets/images/contact-image.webp'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'contact/'
eleventyNavigation:
    key: Contact Us
    order: 600
    hideOnDesktop: true
---

{% extends "layouts/base.html" %}

{% block head %}

    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

   <!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1403">
    <div class="cs-container">
        <span class="cs-int-title">Contact Us</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/contact-header-1.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/contact-header-1.webp">
        <img decoding="async" src="contact-header-1.webp" alt="people laughing" width="1280" height="568" aria-hidden="true">
    </picture>
</div>
                                
<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1403">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Us</span>
            <h2 class="cs-title">Get in Touch</h2>
            <p class="cs-text">
                We're a dedicated team focused on transforming your property's exterior, making it shine like new. Whether it's your home or business, we're here to provide top-quality pressure washing services that leave a lasting impression. Reach out today to get started!
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/phone-76.svg" alt="phone icon" class="cs-icon" width="40" height="40" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Phone</span>
                        <a href="tel:888-4565-789
                        " class="cs-link">+1 (901) 652 3295
                        </a>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mail-76.svg" alt="address icon" class="cs-icon" width="40" height="40" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Email</span>
                        <a href="mailto:Email@stitch.com" class="cs-link">peakpressurewash@outlook.com</a>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pin-76.svg" alt="address icon" class="cs-icon" width="40" height="40" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Service Area</span>
                        <a href="" class="cs-link">Mid-South, USA: Senatobia, Coldwater, Indepenence,
                            Batesville, Como, Hernando, Olive Branch, Horn Lake, Germantown, Collierville
                        </a>
                        <a href="https://www.facebook.com/profile.php?id=61564447265756" target="_blank" class="cs-button-solid">Visit us on Facebook!</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="cs-form" id="cs-form-1403">
            <div id="fdee251e-a938-47d7-94a4-74e325384fab"></div>

            <link rel="stylesheet" href=https://d3ey4dbjkt2f6s.cloudfront.net/assets/external/work_request_embed.css media="screen" />
    
            <script src=https://d3ey4dbjkt2f6s.cloudfront.net/assets/static_link/work_request_embed_snippet.js clienthub_id="fdee251e-a938-47d7-94a4-74e325384fab" form_url=https://clienthub.getjobber.com/client_hubs/fdee251e-a938-47d7-94a4-74e325384fab/public/work_request/embedded_work_request_form></script>
        </div>
        <!--Form-->
        <!-- <form class="cs-form" id="cs-form-1403" name="Contact Form" method="post">
            <h3 class="cs-h3">Make Appointment</h3>
            <label class="cs-label">
                Name
                <input class="cs-input" required type="text" id="name-1403" name="name" placeholder="Name">
            </label>
            <label class="cs-label">
                Address
                <input class="cs-input" required type="text" id="address-1403" name="address" placeholder="Address">
            </label>
            <label class="cs-label cs-email">
                Email
                <input class="cs-input" required type="email" id="email-1403" name="email" placeholder="Email">
            </label>
            <label class="cs-label cs-phone">
                Phone
                <input class="cs-input" required type="number" id="phone-1403" name="phone" placeholder="Phone">
            </label>
            <label class="cs-label">
                Message
                <textarea class="cs-input cs-textarea" required name="Message" id="message-1403" placeholder="Write message..."></textarea>
            </label>
            <button class="cs-button-solid cs-submit" type="submit">Send Message</button>
        </form> -->
    </div>
</section>

<!-- ============================================ -->
<!--          Google Map Iframe Embed             -->
<!-- ============================================ -->

<section id="map-1403">
    <!--Replace this embed code with the google maps embed code of your clients location. To do so, google your clients business, click on the map picture that in the profile card to go to the map location. That will take you to Google maps, then find the share button in the left panel and click on it. You will be given a link to share and a button to copy link, ignore that! AAbove that is a tab that says "Embed a map", click that instead and it will bring up the embed code for you clients location in maps.  Click the button to copy the html and paste it in place of this entire iframe tag. Do not keep the original iframe. Replace it with the new one you got from google maps, unless you want to display a map of Wyoming, then you can keep this iframe. -->
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d149389.27878238517!2d-90.0704748687568!3d34.94511511252213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x887ff58cc7be97d9%3A0x4da4b7cfac8c32ea!2sHernando%2C%20MS!5e0!3m2!1sen!2sus!4v1728170039310!5m2!1sen!2sus"
        width="600"
        class="cs-map"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1403">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Why Take Our Word for It?</h2>
            <span class="cs-topper">Hears what our customers have to say!</span>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-quote" aria-hidden="true" src="/assets/svgs/Quote.svg" decoding="async" alt="quote icon" width="120" height="99">
                <p class="cs-item-text">
                    I had pressure wash for my driveway and roof. Cameron did a wonderful job. My pebblestone driveway looks new, all the dark and dirty mildew was removed. It took 2 treatments for the roof to look new again. Cameron came back on his own to check the roof and recommended the second treatment. I am beyond pleased and highly recommend this service.
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/images/lori-harris.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        Lori Harris
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-quote" aria-hidden="true" src="/assets/svgs/Quote.svg" decoding="async" alt="quote icon" width="120" height="99">
                <p class="cs-item-text">
                    Cameron did a wonderful job cleaning the windows inside and out at my business.  They sparkle and really give a clean look. He was easy to deal with and made the process super easy!! I definitely recommend him for cleaning windows!!                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/images/clay-morton.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        Clay Morton
                    </span>
                </div>
            </li>
        </ul>
    </div>
</section>

{% include 'components/cta.html' %}
                                
{% endblock %}