
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-331 {
        max-width: (1280/16rem);
        padding: 0 (16/16rem);
        margin: 0 auto;
        /* makes it overlap the hero section above it, changes at 1024px */
        margin-top: (-100/16rem);
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        gap: (20/16rem);
        position: relative;
        z-index: 10;

        .cs-item {
            list-style: none;
            width: 100%;
            border-radius: (12/16rem);
            background-color: #fff;
            /* 24px - 32px top & bottom */
            /* 16px - 24px left & right */
            padding: clamp(1.5rem, 3vw, 2rem) clamp(1rem, 3.2vw, 1.5rem);
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            gap: (16/16rem);
        }

        .cs-icon-wrapper {
            width: (80/16rem);
            height: (80/16rem);
            border-radius: 50%;
            background-color: var(--tertiaryLight);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-icon {
            width: (32/16rem);
            height: auto;
            display: block;
        }

        .cs-info-group {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .cs-header {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: bold;
            text-align: center;
            margin-bottom: (8/16rem);
            color: var(--headerColor);
            display: block;
        }

        .cs-desc {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-align: center;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-331 {
        flex-direction: row;
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services-331 {
        margin-top: (-70/16rem);
        .cs-item {
            flex-direction: row;
            justify-content: flex-start;
            transition: transform 0.3s;
            &:hover {
                transform: translateY(-0.625rem);
            }
        }

        .cs-icon-wrapper {
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-info-group {
            align-items: flex-start;
        }

        .cs-header,
        .cs-desc {
            text-align: left;
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-447 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1440px at tablet */
            max-width: (550/16em);
            margin: auto;
        }

        .cs-container {
            width: 100%;
            /* changes to 1440px at tablet */
            max-width: (550/16em);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: (24/16rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            /* changes at desktop */
            padding-top: (144/16rem);
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &:hover {
                .cs-picture {
                    img {
                        transform: scale(1.2);
                        opacity: 0.4;
                    }
                }

                .cs-box {
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }

        .cs-picture {
            width: 100%;
            /* changes at desktop */
            height: (250/16rem);
            border-radius: (8/16rem);
            background-color: var(--primary);
            /* clips the corners of the image */
            overflow: hidden;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes it behave like a background image */
                object-fit: cover;
                /* positions top of image to the top of the container */
                object-position: top;
                transition:
                    transform 0.9s,
                    opacity 0.5s;
            }
        }

        .cs-box {
            text-align: center;
            width: 88%;
            padding: 0 (24/16rem) (24/16rem) (24/16rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            border: 1px solid #dad9e3;
            border-radius: (12/16rem);
            background-color: #fff;
            box-shadow: 0px 24px 54px rgba(87, 107, 147, 0.12);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            &:before {
                /* hover border box */
                content: "";
                background: transparent;
                /* prevents the mouse from interacting with it */
                pointer-events: none;
                border: 4px solid var(--primary);
                border-radius: (12/16rem);
                /* prevents border from affecting height and width */
                box-sizing: border-box;
                opacity: 0;
                position: absolute;
                display: block;
                top: -1px;
                left: -1px;
                right: -1px;
                bottom: -1px;
                transition: opacity 0.5s;
            }
        }

        .cs-wrapper {
            /* 80px - 120px */
            width: clamp(5rem, 9.2vw, 7.5rem);
            height: clamp(5rem, 9.2vw, 7.5rem);
            /* 20px - 24px */
            margin: 0 0 clamp(1.25rem, 1.5vw, 1.5rem);
            /* we use the same clamp value for height & width, but multiple by -.5 so it will be a negative value, and be half of the height.  Negative margins pull things toward the element so they overlap them, in this case we want the .cs-wrapper to overlap .cs-box by half its height, so we use the same clamp for height and half it for the margin top value */
            margin-top: ~"calc(clamp(5rem, 9.2vw, 7.5rem)*-.5)";
            border-radius: 50%;
            border: 4px solid var(--primary);
            background-color: #fff;
            /* prevents border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 10;
        }

        .cs-icon {
            /* 48px - 64px */
            width: clamp(3rem, 4.3vw, 4rem);
            height: auto;
            display: block;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 1.9vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (8/16rem) 0;
            color: var(--headerColor);
            font-family: 'Montserrat', sans-serif;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            font-weight: 400;
            /* 20px - 24px */
            margin: 0 0 clamp(1.25rem, 1.5vw, 1.5rem);
            color: var(--bodyTextColor);
            font-family: 'Nunito', sans-serif;
        }

        .cs-link {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.5vw, 1.25rem);
            line-height: 1.5em;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            margin: 0;
            color: var(--secondary);
            display: inline-block;
            position: relative;

            &:hover {
                &:before {
                    width: 100%;
                }
            }

            &:before {
                /* animated underline */
                content: "";
                width: 0%;
                height: 3px;
                background: currentColor;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: (-2/16rem);
                left: 0;
                transition: width 0.3s;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-447 {
        .cs-container {
            max-width: (1440/16rem);
        }

        .cs-card-group {
            flex-wrap: wrap;
            flex-direction: row;
            /* 16px - 20px */
            column-gap: clamp(1rem, 1.5vw, 1.25rem);
            row-gap: (60/16rem);
        }

        .cs-item {
            width: 47%;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services-447 {
        .cs-card-group {
            flex-wrap: nowrap;
        }
        .cs-item {
            width: 100%;
            /* 144px - 274px */
            padding-top: clamp(9rem, 17.5vw, 17.125rem);
        }

        .cs-picture {
            /* 224px - 428px */
            height: clamp(14rem, 28vw, 26.75rem);
        }
    }
}

/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #meet-team-1141 {
        padding: var(--sectionPadding);
        overflow: hidden;
        background-color: #f7f7f7;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: 542/16rem;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-content .cs-topper {
            margin: .5rem 0;
            color: #000;
        }

        .cs-content .cs-topper .cs-accent {
            color: var(--secondary);
        }

        .cs-title {
            max-width: 25ch;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            width: (180/16rem);
            text-decoration: none;
            font-weight: 700;
            border-radius: (8/16rem);
            /* clips corners of the before element */
            overflow: hidden;
            margin: 0;
            margin-top: 1.5rem;
            color: var(--primaryLight);
            padding: 0;
            background-color: var(--button-color);
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 0%;
                background: var(--primaryLight);
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-button-solid:hover {
            color: var(--button-color);
            transition: color 200ms ease;
        }


        .cs-button-solid {
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-card-group {
            width: 100%;
            max-width: 630/16rem;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* 16px - 20px */
            gap: clamp(1rem, 2.3vw, 1.25rem);
            position: relative;
        }

        .cs-item {
            list-style: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            position: relative;

            &:hover {
                .cs-picture {
                    &:before,
                    &:after {
                        opacity: 1;
                    }

                    img {
                        transform: scale(1.1);
                    }
                }

                .cs-info {
                    background-color: var(--primary);
                }

                .cs-name {
                    color: var(--secondary);
                }

                .cs-job {
                    color: var(--bodyTextColorWhite);
                }
            }
        }

        .cs-picture {
            width: 100%;
            height: auto;
            margin: 0 0 (8/16rem) 0;
            /* removed at tablet */
            aspect-ratio: (328/407);
            border-radius: (16/16rem);
            /* clips the img corners */
            overflow: hidden;
            /* clips img tag from overflowing it on hover */
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
                object-position: top;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: transform 0.7s;
            }
        }

        .cs-info {
            width: 90%;
            margin: (-42/16rem) 0 0;
            padding: (16/16rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            background-color: #fff;
            border-radius: (12/16rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            z-index: 10;
            transition: background-color 0.3s;
        }

        .cs-name {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (4/16rem) 0;
            color: var(--headerColor);
            display: block;
            transition: color 0.3s;
        }

        .cs-job {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin-right: 0;
            color: var(--bodyTextColor);
            display: block;
            transition: color 0.3s;
        }
    }
}

/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
    #meet-team-1141 {
        .cs-card-group {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
        }

        .cs-item {
            width: 100%;
        }

        .cs-picture {
            height: (407/16rem);
            /* remove the aspect ratio so the height can be squished */
            aspect-ratio: initial;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 56.25rem) {
    #meet-team-1141 {
        .cs-container {
            max-width: (800/16rem);
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-content {
            text-align: left;
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-card-group {
            justify-content: center;
            flex-wrap: nowrap;
        }

        .cs-item {
            width: 100%;
        }
    }
}

@media only screen and (min-width: 64rem) {
    #meet-team-1141 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbs-313,
    #RPsbsr-313 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            width: (180/16rem);
            text-decoration: none;
            font-weight: 700;
            border-radius: (8/16rem);
            /* clips corners of the before element */
            overflow: hidden;
            margin: 0;
            color: var(--primaryLight);
            padding: 0;
            background-color: var(--button-color);
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 0%;
                background: var(--primaryLight);
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-button-solid:hover {
            color: var(--button-color);
            transition: color 200ms ease;
        }

        .cs-quote {
            margin: 0 0 (32/16rem) 0;
            /* 16px - 32px */
            padding: clamp(1rem, 3vw, 2rem);
            background-color: #f7f7f7;
            border-radius: (16/16rem);
            position: relative;
        }

        .cs-quote-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0 0 (16/16rem);
            color: #767676;
            display: block;
        }

        .cs-name {
            font-size: (16/16rem);
            line-height: 1.2em;
            text-transform: uppercase;
            font-weight: bold;
            margin: 0 0 (4/16rem);
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            font-size: (14/16rem);
            line-height: 1.5em;
            color: #767676;
            display: block;
        }

        .cs-quote-icon {
            /* 60px - 136px */
            width: clamp(3.75rem, 10vw, 8.5rem);
            height: auto;
            position: absolute;
            bottom: (0/16rem);
            /* 16px - 32px */
            right: clamp(1rem, 4vw, 2rem);
        }

        .cs-image-group {
            /* scaling the font size with the view width */
            font-size: ~"min(2.31vw, .7em)";
            /* using ems so we can use font size to scale the whole section */
            width: (631/16em);
            height: (636/16em);
            position: relative;
        }

        .cs-picture {
            border-radius: (24/16em);
            /* clips img tag corners */
            overflow: hidden;
            position: absolute;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes image act like a background image */
                object-fit: cover;
            }
        }

        .cs-picture1 {
            width: (522/16em);
            height: (581/16em);
            left: 0;
            top: 0;
        }

        .cs-picture2 {
            width: (414/16em);
            height: (400/16em);
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
            /* 6px - 12px */
            border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
            right: 0;
            bottom: 0;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RPsbs-313,
    #RPsbsr-313 {
        .cs-container {
            flex-flow: row;
            justify-content: space-between;
            gap: (52/16rem);
        }

        .cs-image-group {
            font-size: ~"min(1.2vw, 1em)";
            flex: none;
        }

        .cs-content {
            margin: 0;
        }
    }
}

/*-- -------------------------- -->
<---    Side By Side Reverse    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbsr-313 {
        background-color: #f7f7f7;
        .cs-picture1 {
            left: auto;
            right: 0;
        }

        .cs-picture2 {
            right: auto;
            left: 0;
        }

        .cs-quote {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RPsbsr-313 {
        .cs-image-group {
            /* sends it to the right in the 2nd position */
            order: 2;
        }
    }
}

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-45 {
        padding: var(--sectionPadding);
        position: relative;
        /* Prevents overflow from the image going off screen */
        overflow: hidden;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-image-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 16px - 20px */
            gap: clamp(1rem, 1.5vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            height: 100%;
            aspect-ratio: 1;
            margin: 0;
            position: relative;
            display: block;

            &:hover {
                .cs-hover-box {
                    opacity: 1;
                }

                .cs-icon {
                    /* return to original position */
                    transform: rotateY(0);
                }

                .cs-h3 {
                    opacity: 1;
                    /* Return to original position */
                    transform: translateY(0);
                }

                .cs-hover-box-text {
                    opacity: 1;
                    /* Return to original position */
                    transform: translateY(0);
                }
            }
        }

        .cs-picture {
            margin: auto;
            width: 100%;
            height: 100%;
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 20px;
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: var(--primaryLight);
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--button-color);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: var(--primaryLight);
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-button-solid:hover {
            color: var(--button-color);
            transition: color 200ms ease;
        }
    }
}

/* In Between - 600px */
@media only screen and (min-width: 37.5rem) {
    #gallery-45 {
        .cs-image-group {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: 1fr;
        }

        .cs-item {
            grid-column: span 6;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #gallery-45 {
        .cs-item {
            grid-column: span 3;
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-497 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (522/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: var(--primaryLight);
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--button-color);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: var(--primaryLight);
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }


        .cs-button-solid:hover {
            color: var(--button-color);
            transition: color 200ms ease;
        }

        .cs-review {
            width: 100%;
            max-width: (632/16rem);
            /* 24px - 60px top & bottom */
            /* 16px - 60px left & right */
            padding: clamp(1.5rem, 5.8vw, 3.75rem) clamp(1rem, 5vw, 3.75rem);
            border: 1px solid #f1f1f4;
            /* prevents padding from affecting width & height */
            box-sizing: border-box;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            font-family: 'Nunito', sans-serif;
        }

        .cs-review-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.5vw, 1.25rem);
            line-height: 1.5em;
            width: 100%;
            /* 16px - 32px */
            margin: 0 0 clamp(1rem, 3vw, 2rem) 0;
            color: var(--bodyTextColor);
        }

        .cs-info {
            display: inline-block;
        }

        .cs-profile {
            width: (60/16rem);
            height: auto;
            margin-right: (20/16rem);
            border-radius: 50%;
            display: block;
        }

        .cs-name {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.5vw, 1.25rem);
            line-height: 1.5em;
            font-weight: 700;
            margin-bottom: (12/16rem);
            color: var(--headerColor);
            display: block;
        }

        .cs-location {
            /* 13px - 16px */
            font-size: clamp(0.8125rem, 1.5vw, 1rem);
            line-height: 1.2em;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            color: var(--headerColor);
            display: block;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-497 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
        }

        .cs-review {
            width: 73%;
            order: -1;
        }
    }
}

/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq-1346 {
        padding: var(--sectionPadding);
        position: relative;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
            z-index: 1;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-flex-group {
            width: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 2.3vw, 1.25rem);
            position: relative;
        }

        .cs-wrapper {
            position: relative;
        }

        .cs-button-group {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: (8/16rem);
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-option {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            /* 50px - 72px */
            line-height: clamp(3.125rem, 5vw, 4.5rem);
            font-weight: 700;
            padding: 0;
            /* prevents border from affecting height and width */
            box-sizing: border-box;
            background-color: #fff;
            color: var(--headerColor);
            border: 1px solid #e8e8e8;
            border-radius: 10px;
            position: relative;
            z-index: 1;
            transition: border-color 0.3s;

            &:before {
                /* background color */
                content: "";
                width: 100%;
                height: 100%;
                background: var(--primary);
                opacity: 0;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
                transition: opacity 0.3s;
            }

            &:hover {
                &:hover {
                    border-color: var(--primary);
                    cursor: pointer;
                    &:before {
                        opacity: 0.1;
                    }
                }
            }

            &.cs-active {
                border-color: var(--primary);
                &:before {
                    opacity: 0.1;
                }
            }
        }

        .cs-faq-group {
            width: 100%;
            max-width: (847/16rem);
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: (8/16rem);
            transition:
                transform 0.7s,
                opacity 0.3s,
                visibility 0.5s,
                top 0.3s,
                left 0.3s;
            /* makes the transfrom scaling orgin the top left corner, dictates the direction by which the scale transforms animate towards */
            transform-origin: top;
            transform-style: preserve-3d;
            perspective: 900px;

            &.cs-hidden {
                position: absolute;
                /* by using visibility:hidden instead of display:none, we can see the animations from the opacity and transforms, display:none won't render animations. */
                visibility: hidden;
                /* prevents the mouse from interacting with it */
                pointer-events: none;
                /* hidden galleries have a 0 opacity, and we animate the opacity to 1 when they become active */
                opacity: 0;
                /* this top and left value help control the animation, by setting it to position absolute and left 0, the FAQ won't fly off screen to the left, it will stop its position to be at the left edge of the .cs-flex-group (left: 0). Same for the bottom:0 value, the FAQ won't go past that position when it animates */
                top: 0;
                left: 0;
                position: absolute;
                /* prevents the hidden galleries from overflowing the section, and makes a nice animations to transition to and from */
                transform: scaleY(0);

                .cs-faq-item {
                    transform: rotateX(270deg);
                    opacity: 0;
                }
            }
        }

        .cs-faq-item {
            list-style: none;
            width: 100%;
            border: 1px solid #e8e8e8;
            border-radius: 10px;
            /* clips all corners of the button that overlap the rounded border */
            overflow: hidden;
            opacity: 1;
            top: 0;
            transform: rotateX(0deg);
            transition:
                transform 0.6s,
                opacity 0.3s;

            &:nth-of-type(2) {
                transition-delay: 0.1s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.2s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.4s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.5s;
            }
            &:nth-of-type(7) {
                transition-delay: 0.6s;
            }
            &:nth-of-type(8) {
                transition-delay: 0.7s;
            }
            &:nth-of-type(9) {
                transition-delay: 0.8s;
            }
            &:nth-of-type(10) {
                transition-delay: 0.9s;
            }

            &.active {
                .cs-button {
                    color: var(--primary);
                    &:before {
                        background-color: var(--primary);
                        transform: rotate(315deg);
                    }
                    &:after {
                        background-color: var(--primary);
                        transform: rotate(-315deg);
                    }
                }
                .cs-item-p {
                    height: auto;
                    /* 20px - 24px bottom */
                    /* 16px - 24px left & right */
                    padding: 0 clamp(1rem, 2vw, 1.5rem)
                        clamp(1.25rem, 1.3vw, 1.5rem);
                    opacity: 1;
                }
            }
        }

        .cs-button {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            line-height: 1.2em;
            text-align: left;
            font-weight: bold;
            /* 16px - 24px top & bottom */
            /* 16px - 20px left & right */
            padding: clamp(1rem, 2vw, 1.5rem) clamp(1rem, 2vw, 1.25rem);
            background-color: #fff;
            border: none;
            
            color: var(--headerColor);
            display: block;
            width: 100%;
            position: relative;
            transition:
                background-color 0.3s,
                color 0.3s;

            &:hover {
                cursor: pointer;
            }

            &:before {
                /* left line */
                content: "";
                width: (8/16rem);
                height: (2/16rem);
                background-color: var(--headerColor);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 50%;
                right: (24/16rem);
                transform: rotate(45deg);
                /* animate the transform from the left side of the x axis, and the center of the y */
                transform-origin: left center;
                transition: transform 0.5s;
            }

            &:after {
                /* right line */
                content: "";
                width: (8/16rem);
                height: (2/16rem);
                background-color: var(--headerColor);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 50%;
                right: (21/16rem);
                transform: rotate(-45deg);
                /* animate the transform from the right side of the x axis, and the center of the y */
                transform-origin: right center;
                transition: transform 0.5s;
            }
        }

        .cs-button-text {
            width: 80%;
            display: block;
            font-family: "Montserrat", sans-serif;
        }

        .cs-item-p {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            font-family: "Nunito", sans-serif;
            width: 90%;
            height: 0;
            margin: 0;
            /* 16px - 24px */
            padding: 0 clamp(1rem, 2vw, 1.5rem);
            opacity: 0;
            color: var(--bodyTextColor);
            /* clips the text so it doesn't show up */
            overflow: hidden;
            transition:
                opacity 0.3s,
                padding-bottom 0.3s;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 48rem) {
    #faq-1346 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-flex-group {
            flex-direction: row;
        }

        .cs-button-group {
            width: 31%;
            max-width: (413/16rem);
        }
    }
}
                                

/*-- -------------------------- -->
<---           Modal            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cs-modal-1605 {
        padding: var(--sectionPadding);
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: rgba(0, 0, 0, .8);
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        transition: opacity .3s, visibility .3s;
        transition-delay: .3;

        &.cs-loaded {
            /* when the page finishes loading, the JS will add this class to the cs-modal which will then animate into existence */
            opacity: 1;
            visibility: visible;

            .cs-wrapper {
                opacity: 1;
                transform: translateY(0);
            }
        }

        &.cs-closed {
            opacity: 0;
            visibility: hidden;
            z-index: -1000;
        }

        .cs-wrapper {
            width: 100%;
            /* changes to 846px at tbalet */
            max-width: (400/16rem);
            background-color: #fff;
            opacity: 0;
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 1;
            transform: translateY(12.25rem);
            transition: transform .7s, opacity .3s;
            transition-delay: .5s;
        }

        .cs-content {
            text-align: center;
            /* 40px - 60px top & bottom */
            /* 24px - 40px left & right */
            padding: clamp(2.5rem, 8vw, 3.75rem) clamp(1.5rem, 3vw, 2.5rem);
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .cs-close {
            width: (40/16rem);
            height: (40/16rem);
            border: 1px solid transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 10;
            transition: border-color .3s, transform .5s;

            &:hover {
                cursor: pointer;
                border-color: #e8e8e8;
                transform: rotate(90deg);
            }

            img {
                width: (24/16rem);
                height: auto;
            }
        }

        .cs-picture {
            width: 100%;
            height: 60vw;
            /* removed at tablet */
            max-height: (250/16rem);
            display: block;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-header {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            text-align: inherit;
            line-height: 1.2em;
            font-weight: 700;
            max-width: 20ch;
            /* 12px - 16px */
            margin: 0 0 clamp(.75rem, 2vw, 1rem);
            display: block;
        }

        .cs-text {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            /* 28px - 32px */
            margin: 0 0 clamp(1.75rem, 2.5vw, 2rem);
        }

        .cs-form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: (16/16rem);
        }

        .cs-input {
            font-size: (16/16rem);
            width: 100%;
            height: clamp(2.875rem, 5.5vw, 3.5rem);
            margin: 0;
            padding: 0;
            padding-left: (20/16rem);
            background-color: #f7f7f7;
            border: none;
            /* prevents padding from adding to width and height */
            box-sizing: border-box;
            display: block;
            &::placeholder {
                color: #767676;
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: black;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primaryLight);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #fff;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-submit {
            width: 100%;
            border: none;

            &:hover {
                cursor: pointer;
            }
        }

        .cs-social {
            height: (32/16rem);
            margin-top: (32/16rem);
            opacity: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: (8/16rem);
            transition: opacity 0.3s, visibility 0.3s, height 0.3s;
        }

        .cs-social-link {
            text-decoration: none;
            width: (32/16rem);
            height: (32/16rem);
            background-color: #484848;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.3s;

            &:hover {
                background-color: var(--primary);

                .cs-social-icon {
                    opacity: 1;
                    filter: grayscale(1) brightness(10000%);
                }
            }
        }

        .cs-social-icon {
            width: (12/16rem);
            height: auto;
            filter: grayscale(1) brightness(1000%);
            opacity: 0.6;
            display: block;
            transition: opacity 0.6s;
        }

        .cs-content > * {
            margin: 10px 5px;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cs-modal-1605 {
        .cs-wrapper {
            max-width: (846/16rem);
            flex-flow: row;
            align-items: stretch;
        }

        .cs-close {
            background-color: transparent;
            top: (16/16rem);
            right: (16/16rem);
        }

        .cs-content {
            width: 50%;
        }

        .cs-picture {
            width: 50%;
            min-height: (432/16rem);
            height: auto;
            max-height: 100%;
        }
    }
}
     